@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
    background: var(--color-bg);
    margin-top: 5px;
    margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--color-text);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-btn);
}

:root {
    scrollbar-width: thin !important;
    scrollbar-color: var(--color-text) var(--color-bg) !important;
    --color-bg: #1f2b00;
    --color-btn: #ffffff;
    --color-text: #000000;
}

::-webkit-scrollbar {
    width: 0.4em;
}
html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
    // overflow: hidden;
    position: relative; 
}

$shopping-cart-red: #DF0000;

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:$shopping-cart-red;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}
// .fa-circle {
//   color:#DF0000;
// }

.red-cart {
	color: #DF0000; background:#2c28224b;
}